{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="main_title">
        <h2>Novo Agendamento</h2>
    </div>
    <div class="new_appointment_form">
        <form method="post">
            {% csrf_token %}
            <div class="form_day">
                <label for="id_day">Data:</label>
                {{ form.day }}
            </div>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {% for time in form.time.field.queryset %}
                <input type="checkbox" class="btn-check" id="time_{{time.id}}" name="time" value="{{time.id}}" autocomplete="off">
                <label class="btn btn-outline-secondary" for="time_{{time.id}}">{{ time }}</label>
                {% endfor %}
            </div>
            <div class="form_repeat">
                <label for="id_repeat">Repetir semanalmente:</label>
                {{ form.repeat }}
                <span class="checkmark"></span>
            </label>
            </div>
            <button type="submit" class="btn btn-primary">Agendar</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkAaKIBbBvpi4BJQpyRG/jcm57Poc/n3rLcmH7Xz" crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dateField = document.getElementById("id_day");
        var timeContainer = document.querySelector(".btn-group");

        dateField.addEventListener("change", function() {
            var selectedDate = this.value;
            fetch(`/get_available_times?date=${selectedDate}`)
                .then(response => response.json())
                .then(data => {
                    // Clear existing time slots
                    timeContainer.innerHTML = "";

                    // Add new available time slots
                    data.available_times.forEach(function(time) {
                        var timeInput = document.createElement("input");
                        timeInput.type = "checkbox";
                        timeInput.className = "btn-check";
                        timeInput.id = `time_${time.id}`;
                        timeInput.name = "time";
                        timeInput.value = time.id;
                        timeInput.autocomplete = "off";

                        var timeLabel = document.createElement("label");
                        timeLabel.className = "btn btn-outline-secondary";
                        timeLabel.htmlFor = `time_${time.id}`;
                        timeLabel.innerText = time.time;

                        timeContainer.appendChild(timeInput);
                        timeContainer.appendChild(timeLabel);
                    });
                });
        });
    });
    </script>
    
{% endblock %}
