{% extends 'base.html' %}

{% block content %}
  <div class="title_user_schedules">
    <h2>Agendamentos de {{ view.kwargs.username }}</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Data</th>
          <th>Horário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.day }}</td>
          <td>{{ appointment.time }}</td>
          <td>
            <a href="{% url 'appointment-update' appointment.id %}" class="btn btn-warning btn-sm">
              <i class="bi bi-pencil"></i>
            </a>
            <a href="{% url 'appointment-delete' appointment.id %}" class="btn btn-danger btn-sm btn-delete">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}